<div class="four columns">
	<img src="../../assets/images/ma_ka.jpg" alt="" />
	<div class="last_tweets">
		<div id="twitter_update_list">
			It's more a conspect than a blog - tag Erik indicates lectures by my smart and evil mentor for example. I'm glad if you find it useful - I did. It is mostly in estonian but there are tons of materials in english anyway. At least the Erik-part is heavily based on Shell (as he hates GUIs) and my platform is Mac OS X 10.6.8.
		</div>
	</div> <!-- end last_tweets -->
</div> <!-- end four columns -->